@model Examen.Models.Reservering

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservering</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tafel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tafel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klantnaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klantnaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefoonnr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefoonnr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AantalPersonen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AantalPersonen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gebruikt)
        </dt>
        <dd class="col-sm-10">
            <input class="form-check-input" id="gebruikt" asp-for="Gebruikt" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Betaald)
        </dt>
        <dd class="col-sm-10">
            <input class="form-check-input" id="betaald" asp-for="Betaald" />
        </dd>
        @Html.HiddenFor(model => model.Id)
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@{
    var parms = new Dictionary<string, string>
{
{ "ReserveringId", Model.Id.ToString() }

};
}

<p>
    <a asp-controller="Bestelling" asp-all-route-data="parms" asp-action="Create">Maak nieuwe bestelling</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producten
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Bestellingen != null)
        {
            @foreach (var item in Model.Bestellingen)
            {
                <tr>
                    <td>
                        @item.GenerateProductList()
                    </td>
                    <td>
                        <!--<a asp-controller="Bestelling" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |-->
                        <a asp-controller="Bestelling" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Bestelling" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@{decimal sum = 0; }
<table class="table">
    <thead>
        <tr>
            <th>
                Producten
            </th>
            <th>Prijs</th>
            <th>
                Aantal
            </th>
            <th>
                Regeltotaal
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Bestellingen != null)
        {
            @foreach (var item in Model.Bestellingen)
            {
                @foreach (var items in item.Bestelregel)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => items.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => items.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => items.Aantal)
                        </td>
                        <td>
                            @(items.Product.Price * items.Aantal)
                        </td>
                    </tr>
                    {
                        decimal regel = (items.Product.Price * items.Aantal);

                        sum += regel;
                    }
                }
            }
        }
    </tbody>
</table>

<p>Totaal: @sum</p>


@section Scripts {
    <script>
        $('#betaald').click(function() {
            var code = $("#Id").val();
            $.ajax({
                url: "@Url.Action("Betaald", "Reservering")",
                type: 'PUT',
                contentType: 'application/json; charset=utf-8',
                data: {
                    'id': code
                },
                success: ajaxSuccess,
                error: ajaxFailed,
            });
            return false;
        });

        $('#gebruikt').click(function() {
            var code = $("#Id").val();
            $.ajax({
                url: "@Url.Action("Gebruikt", "Reservering", new { id = Model.Id })",
                type: 'PUT',
                success: ajaxSuccess,
                error: ajaxFailed,
            });
            return false;
        });

        function ajaxGebruikt() {
            if ($('#gebruikt').is(":checked"))
            {
                $('#gebruikt').prop("checked", false);
            } else
            {
                $('#gebruikt').prop("checked", true);
            }
        }

        function ajaxBetaald() {
            if ($('#betaald').is(":checked"))
            {
                $('#betaald').prop("checked", false);
            } else
            {
                $('#betaald').prop("checked", true);
            }
        }

    </script>
}
