@model IEnumerable<Examen.Models.Reservering>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tafel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klantnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoonnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalPersonen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gebruikt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Betaald)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tafel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klantnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoonnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalPersonen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruikt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Betaald)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
